{% extends 'frontend/frontbody.html.twig' %}

{% block title %}Events List{% endblock %}

{% block containt%}
    <h1>Events</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nbplace</th>
                <th>Lieu</th>
                <th>Prix</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.id }}</td>
                <td>{{ evenement.nbplace }}</td>
                <td>{{ evenement.lieu }}</td>
                <td>{{ evenement.prix }}</td>
                <td>{{ evenement.description }}</td>
                <td>
                    <a href="{{ path('evenement_show', {'id': evenement.id}) }}">show</a>
                    <a href="{{ path('evenement_edit', {'id': evenement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('evenement_new') }}">Create new</a>
{% endblock %}
